body {
    font-family: sans-serif;
}

#navheader {
    background-color: #56BA89;
}

.content {
    padding: 20px;
}

#search {
    background-color: #4285F4;
}

#results {
    background-color: #3B78E7;
}

#search, #results {
    padding: 20px;
    color: white;
}