body {
    font-family: sans-serif;
}

#navheader {
    background-color: #56BA89;
}

.content {
    padding: 20px;
}

.poly-btn {
	margin-top: 25px;
	width: 100%;
	background-color: #03a9f4;
	color: white;
}

#search, #login {
    background-color: #4285F4;
}

#results {
    background-color: #3B78E7;
}


#login {
	background: #356ccf;
}

#search, #results, #login {
	cursor: pointer;
    padding: 20px;
    color: white;
}

#login-window {
	color: #356ccf;
	padding: 10px 20px;
}
#login-window .poly-btn {
	background: #356ccf;
}

.open-below {
    top: 0px;
    color: black;
}
