body {
    font-family: sans-serif;
}

.drawer {
    background-color: #3f3f3f;
}

#navheader {
    background-color: #56BA89;
}

.content {
    padding: 20px;
}

.poly-btn {
	margin-top: 25px;
	width: 100%;
	background-color: #03a9f4;
	color: white;
    margin-left: 0;
}

#search, #login {
    background-color: #4285F4;
}

#results {
    background-color: #3B78E7;
}


#login {
	background: #356ccf;
}

#search, #results, #login {
	cursor: pointer;
    padding: 20px;
    color: white;
}

#login-window {
	color: #356ccf;
	padding: 10px 20px;
}
#login-window .poly-btn {
	background: #356ccf;
}

.open-below {
    top: 0px;
    background-color: white;
    color: black;
    width: 255px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 0;
}
